.oner{
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    align-items: center;
}
.oner2{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.onecol{
    margin-top: 15px;margin-bottom: 15px;
}
.oneh{
    margin-bottom: 0rem ;margin-top: 0rem;
}
a{
color: white;
}
.cmenu{
   background-color:  #E57A7A;
}
