$pink-s1: #E57A7A;
$red-s1:	#FF0000;
$white-s1:#FFFFFF;    
.headertop{
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    align-items: center;
}
.headermain{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
// .header{
//     margin-top: 15px;
//     margin-bottom: 15px;
// }
.address{
    margin-bottom: 0 ;
    margin-top: 0;
}
a{
color: $white-s1;
}
.headermenu{
   background-color: $pink-s1;
}
.dropdownsearch{
border: 1px solid $white-s1;
}
.search{
border: 1px solid $white-s1;
}
.menusearch{
border: 1px solid $red-s1;
padding: 0 0 0 0;
}
.nation{
    font-size: 12px;
}

