$pink-s1: #E57A7A;
$red-s1:	#FF0000;
$white-s1:#FFFFFF;    
.margin{
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    align-items: center;
}
.margin2{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.margin3{
    margin-top: 15px;
    margin-bottom: 15px;
}
.margin4{
    margin-bottom: 0 ;
    margin-top: 0;
}
a{
color: $white-s1;
}
.cmenu{
   background-color: $pink-s1;
}
.dropdownm{
border: 1px solid $white-s1;
}
.search{
border: 1px solid $white-s1;
}
.divsearch{
border: 1px solid $red-s1;

padding: 0 0 0 0;
}
.dropdownqg{
    font-size: 12px;
}